

<div id="top">
  {{>back-button}}
  <h1 class="main-title">{{name}} Class</h1>
</div>

<div id="bottom">

  <div id="main-box">
    <div id="table-contents">
      <div class="module-wrap side" id="{{name}}">
        <ul class="content-table">
          {{>table}}
        <ul>
    </div>
    </div>

    <div id="methods-wrap">
{{>method}}
      {{#methods}}
{{>method}}
      {{/methods}}
    </div>

  </div>

</div>