<p align="center">
  <a href="https://dannjs.org/">
    <img src="https://dannjs.org/transparentlogo.png" alt="Dannjs" height="150" />
  </a>
</p>

<h4 align="center">RNN development Branch</h4>

<p><a href="https://github.com/matiasvlevi/Dann">Back to master branch</a></p>
<br/>

<h2 id="examples">Examples</h2>
<p>import</p>
<pre><code class="rmcode js">const Dannjs = require(&#39;dannjs&#39;);
const Rann = Dannjs.rann;</code></pre>
<p>Feed sequence data</p>
<pre><code class="rmcode js">let rnn = new Rann(2, 20, 2);
rnn.feed([
  [1,2],
  [3,4],
  [5,6],
  [7,8]
]);
// [X, X] Output is random since rnn is not trained</code></pre>
<p>Train sequence data</p>
<pre><code class="rmcode js">// Not implemented yet</code></pre>
<p><br/><br/><br/></p>
<h2 id="license">License</h2>
<p>MIT</p>
<p><br/><br/><br/>
<br/></p>
<p>Any contributions are welcome! See <a href="https://github.com/matiasvlevi/Dann/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a>.</p>
