<div align="center">
  <a href="https://dannjs.org/">
    <img src="https://dannjs.org/transparentlogo.png" alt="Dannjs" height="150" />
  </a>
  <h4>RNN development Branch</h4>
  <a href="https://github.com/matiasvlevi/Dann">Back to master branch</a>
</div>


<br/>

<h4 id="cdn">CDN</h4>
<p>Whole library</p>
<pre><code class="rmcode js">&lt;script src=&quot;https://cdn.jsdelivr.net/gh/matiasvlevi/dann@RNN/build/lib.js&quot;&gt;&lt;/script&gt;</code></pre>
<p>Only dann</p>
<pre><code class="rmcode js">&lt;script src=&quot;https://cdn.jsdelivr.net/gh/matiasvlevi/dann@RNN/build/dann.js&quot;&gt;&lt;/script&gt;</code></pre>
<p>Only rann</p>
<pre><code class="rmcode js">&lt;script src=&quot;https://cdn.jsdelivr.net/gh/matiasvlevi/dann@RNN/build/rann.js&quot;&gt;&lt;/script&gt;</code></pre>
<br/>

<h4 id="nodejs">Nodejs</h4>
<pre><code class="rmcode js">const Dannjs = require(&#39;dannjs&#39;);
const Rann = Dannjs.rann;</code></pre>
<h2 id="examples">Examples</h2>
<p>Feed sequence data</p>
<pre><code class="rmcode js">let rnn = new Rann(2, 20, 2);
rnn.feed([
  [1, 2],
  [3, 4],
  [5, 6],
  [7, 8]
]);
</code></pre>
<p>Train sequence data</p>
<pre><code class="rmcode js">rnn.train([
  [1, 2],
  [3, 4],
  [5, 6],
  [7, 8],
  [9, 10]  
])
rnn.feed([
  [5,6],
  [7,8]
]);
// Outputs close to [9, 10] if well trained 
// (Call train more than once)</code></pre>
<p><br/><br/><br/></p>
<h2 id="license">License</h2>
<p>MIT</p>
<p><br/><br/><br/>
<br/></p>
<p>Any contributions are welcome! See <a href="https://github.com/matiasvlevi/Dann/blob/master/CONTRIBUTING.md">CONTRIBUTING.md</a>.</p>
